<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="br.com.phoebus.android.payments.provider.READ_PERMISSION" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.phoebus.appdemo.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.phoebus.appdemo.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.payments.EventService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"
            tools:ignore="ForegroundServicePermission" />

        <activity android:name=".controller.eventEmitter.payments.EventFindPayments" />
        <activity android:name=".controller.eventEmitter.payments.SendEventReversal" />
        <activity android:name=".controller.eventEmitter.payments.SendEventCancelPayment" />
        <activity android:name=".controller.eventEmitter.pix.SendEventPixList" />
        <activity android:name=".controller.eventEmitter.pix.SendEventPixPayment" />
        <activity android:name=".controller.eventEmitter.pix.SendEventPixRefund" />
        <activity android:name=".controller.eventEmitter.pix.SendEventPixConsult" />
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>